::selection {
    background-color: #505090;
}

:root {
    /* Colors */
    --selection-color: #505090;
    --bgcolor: rgb(13,17,23);
    --main-textcolor: #ffffff;
    --heading-textcolor: #ffffff;
    --link-textcolor: #0D74E7;
    --clicked-linkcolor: #4D74E7;
    --secondary-bgcolor: #d0d0d0;
    --container_type0-bgcolor: #484f58;
    --container_type1-bgcolor: #ffffff;
    --container_type2-bgcolor: #ffffff;
    --navbar-bgcolor: rgb(1,4,9);
    --border-color: rgb(48,54,61);
    --approve_button-bg-color: #2DBA4E;
    --approve_button-hover-bg-color: rgb(45,220,78);
    --secondbutton-bg-color: #0D74E7;
    --secondbutton-bg-hover-color: rgb(13,150,231);

    /* Fonts */
    --main-font: 'roboto';
    --heading-font: 'Montserrat', sans-serif;

    /* Margins and Border Radius */
    --heading-margin: 10px;
    --general-margin: 50px;
    --content-margin: 30px;
    --text-border-radius: 5px;
    --container_type0-border-radius: 5%;
    --container_type1-border-radius: 10%;
    --container_type2-border-radius: 20%;

    /* Grid and Flexbox Settings */
    --column-count: 12;
    --main-container-width: 1200px;

    /* Z-index Values */
    --top-menu-z_index: 100;
    --modal-z_index: 999;

    /* Animation Durations */
    --transition-duration: 0.5s;
    --slow-transition-duration: 1.5s;

    /* Text Sizes and Weights */
    --h1-font-size: 36px;
    --h2-font-size: 28px;
    --h3-font-size: 24px;
    --p-font-size: 16px;
    --h1-font-weight: 700;
    --h2-font-weight: 700;
    --h3-font-weight: 700;
    --p-font-weight: 400;
    --thin-font: 100;
    --extralight-font: 200;
    --light-font: 300;
    --regular-font: 400;
    --medium-font: 500;
    --semibold-font: 600;
    --bold-font: 700;
    --extrabold-font: 800;
    --black-font: 900;
}


body {
    font-family: var(--main-font);
}

* {
    padding: 0;
    margin: 0;
    background-color: var(--bgcolor);
    box-sizing: border-box;
}

/* Navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--navbar-bgcolor);
    border-bottom: 1px solid var(--border-color);
}

nav ul {
    margin-right: 30px;
    background-color: var(--navbar-bgcolor);
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 15px;
    background-color: var(--navbar-bgcolor);
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: var(--main-textcolor);
    font-weight: var(--thin-font);
    background-color: var(--navbar-bgcolor);
}

nav .logo {
    margin-left: 30px;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: var(--medium-font);
    background-color: var(--navbar-bgcolor);
}

/* Headings, Links and Paragraphs */

h1 {
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    color: var(--heading-textcolor);
    font-family: var(--heading-font);
    margin-bottom: var(--heading-margin);
}

h2 {
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    color: var(--heading-textcolor);
    font-family: var(--heading-font);
    margin-bottom: var(--heading-margin);
}

h3 {
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
    color: var(--heading-textcolor);
    font-family: var(--heading-font);
    margin-bottom: var(--heading-margin);
}

a {
    text-decoration: none;
    color: var(--link-textcolor);
}

p {
    font-weight: var(--p-font-weight);
    font-size: var(--p-font-size);
    color: var(--main-textcolor);
    font-family: var(--heading-font);
}

/* Sections */

/* Main Sections */

section#main-section {
    margin: 0 auto 0 auto;
    width: 70%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: 40px;
}

section #main-section-header{
    text-align: center;
    margin: 0 auto 0 auto;
    width: 70%;
}

.main-sections {
    margin-bottom: var(--general-margin);
} 

div#discord-section {
    margin: var(--general-margin) auto 0 auto;
    width: 600px;
    height: 300px;
    background-color: #5865F2 ;
    border-radius: 5px;
    box-shadow: 0px 0px 41.7px 18px #5E6AEC;
}

#discord-vector {
    background-color: #5865F2;
    float: left;
    margin: 13px -3px 13px 13px;
}

#discord-text {
    margin: 13px 0px 13px 13px;
    float: left;
    background-color: #5865F2;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.36px;
}

#discordcontainer {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    margin-top: 25px;
    margin-right: 70px;
    border-radius: 3px;
    box-shadow: 0px 5px 18px black;
    padding: 15px;
}

#discord-logo {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: #0D0909;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

#text0 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 170px;
    color: #D0D0D0;
    text-align: center;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 107.074%; /* 17.132px */
}

#text1 {
    width: 170px;
    color: #D0D0D0;
    text-align: center;
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 107.074%; /* 25.698px */
    margin-bottom: 30px;
}

#button {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 170px;
    height: 32px;
    border-radius: 3px;
    background: #5865F2;
}