::selection {
    background-color: #505090;
}

:root {
    /* Colors */
    --selection-color: #505090;
    --bgcolor: rgb(13,17,23);
    --main-textcolor: #ffffff;
    --heading-textcolor: #ffffff;
    --link-textcolor: #0D74E7;
    --clicked-linkcolor: #4D74E7;
    --secondary-bgcolor: #d0d0d0;
    --container_type0-bgcolor: #484f58;
    --container_type1-bgcolor: #ffffff;
    --container_type2-bgcolor: #ffffff;
    --navbar-bgcolor: rgb(1,4,9);
    --border-color: rgb(48,54,61);
    --approve_button-bg-color: #2DBA4E;
    --approve_button-hover-bg-color: rgb(45,220,78);
    --secondbutton-bg-color: #0D74E7;
    --secondbutton-bg-hover-color: rgb(13,150,231);

    /* Fonts */
    --main-font: 'roboto';
    --heading-font: 'Montserrat', sans-serif;

    /* Margins and Border Radius */
    --general-margin: 50px;
    --content-margin: 30px;
    --text-border-radius: 5px;
    --container_type0-border-radius: 5%;
    --container_type1-border-radius: 10%;
    --container_type2-border-radius: 20%;

    /* Grid and Flexbox Settings */
    --column-count: 12;
    --main-container-width: 1200px;

    /* Z-index Values */
    --top-menu-z_index: 100;
    --modal-z_index: 999;

    /* Animation Durations */
    --transition-duration: 0.5s;
    --slow-transition-duration: 1.5s;

    /* Text Sizes and Weights */
    --h1-font-size: 36px;
    --h2-font-size: 28px;
    --h3-font-size: 24px;
    --p-font-size: 16px;
    --h1-font-weight: 700;
    --h2-font-weight: 700;
    --h3-font-weight: 700;
    --p-font-weight: 400;
    --thin-font: 100;
    --extralight-font: 200;
    --light-font: 300;
    --regular-font: 400;
    --medium-font: 500;
    --semibold-font: 600;
    --bold-font: 700;
    --extrabold-font: 800;
    --black-font: 900;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bgcolor);
    color: var(--main-textcolor);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

h1 {
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    color: var(--heading-textcolor);
    font-family: var(--heading-font);
}

h2 {
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    color: var(--heading-textcolor);
    font-family: var(--heading-font);
}

h3 {
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
    color: var(--heading-textcolor);
    font-family: var(--heading-font);
}

p {
    font-weight: var(--p-font-weight);
    font-size: var(--p-font-size);
    color: var(--main-textcolor);
    font-family: var(--heading-font);
}


header {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: var(--navbar-bgcolor);
    border-bottom: 1px solid var(--border-color);
    color: var(--main-textcolor);
    display: flex;
    align-items: center;
}

.header-logo {
    margin-left: 1%;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: var(--medium-font);
    position: relative;
    left: 0px;
}

nav {
    position: relative;
    left: 15%;
    display: flex;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}
nav a{
    font-size: 18px;
    text-decoration: none;
    color: var(--main-textcolor);
    margin-left: var(--general-margin);
    font-weight: var(--thin-font);
    flex-wrap: wrap;
}

.sectiontype_1 {
    margin-bottom: var(--general-margin);
}

.main-section {
    flex: 1;
    margin: 0 auto 0 auto;
    width: 70%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: 40px;
}

.main-section-header{
    text-align: center;
    margin: 0 auto 0 auto;
    width: 70%;
}
